* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
}

.content-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

@media (max-width: 540px) {
	.content-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}

.content-main {
	width: 100%;
}

.wrapper {
	max-width: 1350px;
	margin: 0 auto;
}

.title {
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #333333;
}

.sub-title {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
	transition: all 0.3s ease;
	color: #4c4c4c;
}

.blue {
	color: #3971ff;
}

a {
	text-decoration: none;
}

body {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
	color: #4c4c4c;
	background-color: #f3f3f3;
}
