.experience {
	padding: 68px 30px 4px 97px;
	background-color: #fff;
}

.experience .title {
	position: relative;
	max-width: 175px;
	line-height: 80px;
	margin-bottom: 90px;
}

.experience .title::before {
	position: absolute;
	content: "";
	width: 65px;
	height: 2px;
	bottom: 0;
	background-color: #3971ff;
	transition: all 0.3s ease;
}

.experience .title::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	bottom: -2px;
	left: 65px;
	border: 1px solid #3971ff;
	transition: all 0.3s ease;
}

.experience:hover .title::before {
	width: 98%;
}

.experience:hover .title::after {
	-webkit-transform: translateX(105px);
	transform: translateX(105px);
}

.experience-wrap {
	max-width: 920px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.experience-blocks {
	max-width: 440px;
	transition: all 0.3s ease;
}

.experience-blocks p:nth-of-type(1) {
	max-width: 260px;
	display: inline-block;
	text-transform: uppercase;
}

.experience-blocks p:nth-of-type(3),
.experience-blocks p:nth-of-type(2) {
	text-transform: uppercase;
	margin-left: 63px;
}

.experience-blocks span {
	display: inline-block;
	font-size: 30px;
	height: 48px;
	line-height: 48px;
	vertical-align: middle;
	margin-right: 25px;
}

.experience-blocks:hover .sub-title,
.experience-blocks:hover {
	color: #3971ff;
}

.experience-blocks p:nth-of-type(4) {
	margin: 28px 0 89px;
}

@media (max-width: 1204px) {
	.experience-blocks {
		max-width: 100%;
	}
	.experience-blocks p:nth-of-type(4) {
		margin-left: 63px;
	}
}

@media (max-width: 768px) {
	.experience {
		padding: 40px 30px 4px 60px;
	}
	.experience .title {
		font-size: 28px;
		line-height: 50px;
		margin-bottom: 40px;
	}
	.experience:hover .title::before {
		width: 65px;
	}
	.experience:hover .title::after {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@media (max-width: 579px) {
	.experience-blocks p {
		margin-left: 0 !important;
	}
	.experience-blocks p:nth-of-type(4) {
		margin: 5px 0 20px;
	}
	.experience-blocks span {
		margin-bottom: 10px;
	}
}

@media (max-width: 565px) {
	.experience {
		padding: 30px 30px 4px 30px;
	}
	.experience .title {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}
	.experience .title::before {
		bottom: -20px;
	}
	.experience .title::after {
		bottom: -22px;
	}
}