.post {
	padding: 69px 30px 64px 97px;
	background-color: #fff;
}

.post .title {
	position: relative;
	max-width: 190px;
	line-height: 80px;
	margin-bottom: 98px;
}

.post .title::before {
	position: absolute;
	content: "";
	width: 65px;
	height: 2px;
	bottom: 0;
	background-color: #3971ff;
	transition: all 0.3s ease;
}

.post .title::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	bottom: -2px;
	left: 65px;
	border: 1px solid #3971ff;
	transition: all 0.3s ease;
}

.post:hover .title::before {
	width: 97%;
}

.post:hover .title::after {
	-webkit-transform: translateX(120px);
	transform: translateX(120px);
}

.post-slides-text p:nth-of-type(1) {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 32px 0 10px;
}

.post-slides-text:hover .sub-title,
.post-slides-text:hover {
	color: #3971ff;
}

.post-slides-text a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 40px;
	font-weight: 500;
	color: #4c4c4c;
	transition: all 0.2s ease;
	margin-top: 30px;
}

.post-slides-text a:hover {
	color: #3971ff;
}

.post-slides-text a:before {
	position: absolute;
	bottom: 0;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #3971ff;
	transition: all 0.2s ease;	
}

.post-slides-text a:hover:before {
	width: 150px;
}


/*Slider post*/

.post-wrap-slider {
	position: relative;
	width: 920px;
}

.post-wrap-slider-controls {
	position: absolute;
	display: block;
	top: 0;
	width: 670px;
	box-shadow: inset 0 2px 0 0 #4c4c4c;
	z-index: 100;
}


@media (max-width: 768px) {
	.post {
		padding: 40px 30px 4px 60px;
	}
	.post .title {
		font-size: 28px;
		line-height: 50px;
		margin-bottom: 40px;
	}
	.post:hover .title::before {
		width: 65px;
	}
	.post:hover .title::after {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@media (max-width: 565px) {
	.post {
		padding: 30px 30px 4px 30px;
	}
	.post .title {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
	}
	.post .title::before {
		bottom: -20px;
	}
	.post .title::after {
		bottom: -22px;
	}
}